#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 70%);
  padding: 5px;
  
}